<!DOCTYPE html>
<html>
<head>
    <title>ShadowWalker Tech</title>
</head>

<body style="background-color:#e6ffe6; text-align:center;">

    <h1 style="font-size:40px;">
        Welcome to ShadowWalker Tech
    </h1>

    <br><br>

    <a href="/login">
        <button style="font-size:25px; padding:15px 40px;">
            Login
        </button>
    </a>

    <br><br>

    <a href="/register">
        <button style="font-size:25px; padding:15px 40px;">
            Create Account
        </button>
    </a>

</body>
</html>
